.App,.home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home-page-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
}

.tab-bar .active {
  color: #1677ff;
}